<p style="color: green"><%= notice %></p>
<h1>Projects <%= DateTime.now %></h1>
<div id="projects">
  <% @projects.each do |project| %>
    <%= render project %>
    <p>
      <%= link_to "Show this project", project %>
    </p>
  <% end %>
</div>
<%= link_to "New project", new_project_path %>
<div class="row d-flex justify-content-center my-4 w-25">
  <div class="col">
    <%= form_with url: projects_path, method: :get, data: { controller: "formsubmission", turbo_frame: 'project_listings' } do |form| %>
      <%= form.search_field :q, class: 'form-control', placeholder: "Search for Name or Description", data: { action: "input->formsubmission#search" } %>
    <% end %>
    <%= turbo_frame_tag 'project_listings' do %>
      <% unless @results.empty? %>
        <% @results&.each do |project| %>
          <div class="p-2 border">
            <div class="fs-6">Name: <%= project.name %> - Description: <%= project.description %></div>
          </div>
        <% end %>
      <% end %>
      <%= turbo_frame_tag 'external_search_result', src: load_external_search_project_path(q: @search, avoid_search: @results.any?), loading: :lazy do %>
      <% end %>
    <% end %>
  </div>
</div>
